.canvas-container {
	padding: 0px;
	margin-bottom: 25px;
}

.credits {
	font-size: 0.8em;
}

.btn-play {
	border-radius: 0;
	width: 30%;
}

.score {
	font-family: 'PaintyPaint';
	font-size: 3em;
}

.replay {
	margin-bottom: 50px;
}

canvas {
    height: 500px;
	border: 2px solid #DEDEDE;
	box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.30);
}

@font-face {
	font-family: 'PaintyPaint';
	src: url('../assets/paintypaint.ttf') format('truetype');
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 0px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.rememberLabel {
    float: left;
    width: 150px;
}

.material-switch {
    margin-left: 10px;
}